.u-section-1 {
  background-image: none;
  min-height: 1215px;
}

.u-section-1 .u-shape-1 {
  width: 284px;
  background-image: none;
  height: 1215px;
  margin: -13px calc(((100% - 1140px) / 2) + 334px) 0 auto;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: -1171px auto 0 calc(((100% - 1140px) / 2) + -223px);
  padding: 24px 165px 25px 164px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: -77px calc(((100% - 1140px) / 2) + 60px) 0 auto;
  padding: 24px 42px 26px 41px;
}

.u-section-1 .u-list-1 {
  width: calc(((100% - 1140px) / 2) + 430px);
  margin: 37px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 456px;
  grid-template-columns: 100%;
  grid-gap: 19px 19px;
}

.u-section-1 .u-container-layout-1 {
  padding: 27px 30px;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 0;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: -45px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 27px 30px;
}

.u-section-1 .u-btn-5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 0;
}

.u-section-1 .u-btn-6 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: -45px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 27px 30px;
}

.u-section-1 .u-btn-7 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 0;
}

.u-section-1 .u-btn-8 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: -45px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 27px 30px;
}

.u-section-1 .u-btn-9 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 0;
}

.u-section-1 .u-btn-10 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: -45px 0 0 auto;
}

.u-section-1 .u-btn-11 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: -432px calc(((100% - 1140px) / 2) + 166px) 0 auto;
}

.u-section-1 .u-btn-12 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: -45px calc(((100% - 1140px) / 2) + -50px) 0 auto;
}

.u-section-1 .u-btn-13 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 73px calc(((100% - 1140px) / 2) + 130px) 0 auto;
}

.u-section-1 .u-btn-14 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: -44px calc(((100% - 1140px) / 2) + -40px) 0 auto;
}

.u-section-1 .u-btn-15 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 186px calc(((100% - 1140px) / 2) + 23px) 0 auto;
  padding: 15px 66px 16px 65px;
}

.u-section-1 .u-list-2 {
  width: calc(((100% - 1140px) / 2) + 430px);
  margin: 59px auto 0 0;
}

.u-section-1 .u-repeater-2 {
  min-height: 456px;
  grid-template-columns: 100%;
  grid-gap: 19px 19px;
}

.u-section-1 .u-container-layout-5 {
  padding: 27px 30px;
}

.u-section-1 .u-btn-16 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 0;
}

.u-section-1 .u-btn-17 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: -45px 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 27px 30px;
}

.u-section-1 .u-btn-18 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 0;
}

.u-section-1 .u-btn-19 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: -45px 0 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 27px 30px;
}

.u-section-1 .u-btn-20 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 0;
}

.u-section-1 .u-btn-21 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: -45px 0 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 27px 30px;
}

.u-section-1 .u-btn-22 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 0;
}

.u-section-1 .u-btn-23 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: -45px 0 0 auto;
}

.u-section-1 .u-btn-24 {
  letter-spacing: 2px;
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: -477px calc(((100% - 1140px) / 2) + 23px) 0 auto;
  padding: 15px 30px 15px 29px;
}

.u-section-1 .u-btn-25 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 33px calc(((100% - 1140px) / 2) + 23px) 0 auto;
  padding: 15px 73px 16px 72px;
}

.u-section-1 .u-image-1 {
  width: 128px;
  height: 128px;
  background-image: url("np://user.desktop.nicepage.com/Site_72170494/images/868754309821636618.png?rand=b4aa");
  background-position: 50% 50%;
  margin: 332px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 940px) / 2) + 334px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + 334px);
    margin-left: auto;
    background-color: rgb(0, 0, 0) !important;
    color: white !important;
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 940px) / 2) + 430px);
  }

  .u-section-1 .u-btn-11 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-13 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-14 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-15 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 940px) / 2) + 430px);
  }

  .u-section-1 .u-btn-24 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-25 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 720px) / 2) + 334px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2) + 334px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 720px) / 2) + 430px);
  }

  .u-section-1 .u-btn-11 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-13 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-14 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-15 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 720px) / 2) + 430px);
  }

  .u-section-1 .u-btn-24 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-25 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 540px) / 2) + 256px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2) + 256px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2) + 256px);
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 540px) / 2) + 430px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-15 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 540px) / 2) + 430px);
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-24 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-25 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 340px) / 2) + 56px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2) + 56px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 340px) / 2) + 56px);
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-right: calc(((100% - 340px) / 2) + 56px);
    margin-left: auto;
  }

  .u-section-1 .u-btn-11 {
    margin-right: calc(((100% - 340px) / 2) + 56px);
    margin-left: auto;
  }

  .u-section-1 .u-btn-12 {
    margin-right: calc(((100% - 340px) / 2) + 56px);
    margin-left: auto;
  }

  .u-section-1 .u-btn-13 {
    margin-right: calc(((100% - 340px) / 2) + 56px);
    margin-left: auto;
  }

  .u-section-1 .u-btn-14 {
    margin-right: calc(((100% - 340px) / 2) + 56px);
    margin-left: auto;
  }

  .u-section-1 .u-btn-15 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-list-2 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-17 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-19 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-21 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-23 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-24 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-25 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 340px) / 2));
  }
}